:root {
    --light-theme-background: #f8f8ff;
    --light-theme-textcolor: #212121;
    
    --dark-theme-background: #212121;
    --dark-theme-textcolor: #f8f8ff;

    --title-font-size: ;
    --headline-font-size: ;
    --Subheadline-font-size: 1.5rem;
    --bodytext-font-size: ;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "Satoshi", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.link-to-contato {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-btn {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: none;
    background-color: var(--dark-theme-background);
    color: var(--dark-theme-textcolor);
    font-family: "ranade", sans-serif;
}

body {
    margin: 0 32px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
}

.header-nav {
    display: none;
    font-family: "ranade, sans-serif;
}

.header-nav a {
    color: var(--light-theme-textcolor);
}

.contato-btn-header {
    padding: 8px 24px;
    border: 1.5px solid var(--dark-theme-background);
    border-radius: 16px;
    color: var(--light-theme-textcolor);
    font-family: "ranade", sans-serif;
}

.hero-section {
    height: calc(100vh - 80.47px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.span-headline {
    font-family: "Satoshi", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.border-span {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--light-theme-textcolor);
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title-aboutme {
    font-family: "Satoshi", sans-serif;
    font-size: 8px;
}

.aboutme-text {
    font-size: 1rem;
    font-family: "ranade", sans-serif;
    padding: 4px 0;
}

.contato-btn-div {
    display: flex;
    justify-content: end;
    padding-top: 4px;
}

.projeto-div {
    width: 100%;
    border: 16px solid var(--dark-theme-background);
    height: 200px;
    background-color: #3b3636;
    color: var(--dark-theme-textcolor);
    font-family: "Satoshi", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#habilidades-section h1 {
    padding-bottom: 32px;
}

.habilidades {
    display: flex;
    align-items: center;
    gap: 4px;
    border-top: 1.5px solid var(--dark-theme-background);
    border-bottom: 1.5px solid var(--dark-theme-background);
    padding: 8px 0;
}

.habilidades p {
    font-family: "ranade", sans-serif;
    font-size: 1rem;
}

.habilidades-icon {
    width: 50px;
}

#contato-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 16px;
}

.contato-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.form-inputs-div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-inputs-div label {
    font-family: "ranade", sans-serif;
    font-size: 1rem;
}

.form-input {
    border: none;
    border-bottom: 1px solid var(--dark-theme-background);
    outline: none;
}

.version-and-social-links-div {
    display: flex;
    justify-content: space-between;
}

.versao-site-div, .social-links-div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.versao-title, .social-links-title {
    font-family: "ranade", sans-serif;
    font-size: 12px;
}

.versao-2024 {
    font-family: "ranade", sans-serif;
    font-size: 14px;
}

.div-social-links-a {
    display: flex;
    gap: 8px;
    font-family: "ranade", sans-serif;
    font-size: 14px;
    color: var(--light-theme-textcolor);
}

.div-social-links-a a {
    color: var(--light-theme-textcolor);
}

@media (min-width: 768px) {
    .header-nav {
        display: flex;
        gap: 16px;
        font-family: "ranade", sans-serif;
    }
    .span-headline {
        font-size: 40px;
    }
    .projeto-div {
        height: 450px;
    }
}

@media (min-width: 1024px) {
    .span-headline {
        font-size: 64px;
    }
}

@media (min-width: 1440px) {
    body {
        margin: 0 64px;
    }
    h1 {
        font-size: 32px;
    }
    .span-headline {
        font-size:  80px;
    }
    .title-aboutme {
        font-size: 16px;
    }
    .aboutme-text {
        font-size: 24px;
        width: 80%;
    }
    .projeto-div {
        height: 700px;
        font-size: 40px;
    }
    .habilidades {
        gap: 16px;
    }
    .habilidades p {
        font-size: 24px;

    }
    .habilidades-icon {
        width: 80px;
    }
    .form-inputs-div label {
        font-size: 1.5rem;
    }
    .form-input {
        width: 200px;
        font-size: 1rem;
        padding-left: 4px;
        padding-bottom: 8px;
    }
    .versao-title, .social-links-title {
        font-size: 14px;
    }
    .versao-2024 {
        font-size: 16px;
    }
    .div-social-links-a {
        font-size: 16px;
    }
}